body {
    background-color:rgb(255, 238, 254);
}

h1 {
    color:rgb(231, 108, 129);
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
}

#letrageneral {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

header {
    background-color: rgb(255, 230, 234);
    color:azure;
    padding: 1em;
}

#seccion1 {
    background-color: rgb(221, 130, 144);
    color: white;
    height: 10%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-bottom: 10px;
}

#li1 {
    margin-left:30px;
}

#li2 {
    margin-left: 60px;
}

#li3 {
    margin-left:70px
}

#contactus {
    position: absolute;
    left: 25%; 
    transform: translate(-50%, -50%);
    background-color:rgb(245, 245, 245);
    padding: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 450px; 
    width: 80%; 
    color:black;
}

#formulario {
    position: absolute;
    left: 25%; 
    transform: translate(-50%, -50%);
    background-color:rgb(245, 245, 245);
    padding: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 450px; 
    width: 80%; 
    color:black;
}

a {
    color: white;
}
